numpy>=1.22
scipy<=1.10.1
matplotlib~=3.8.3
dash>=1.20.0
dash-core-components
dash-html-components
dash-bootstrap-components
dash-table
dash-cytoscape
plotly
pandas~=2.2.1
qutip>=4.6.0
tqdm>=4.54.0
networkx~=3.2.1
qiskit==0.45.1
ply
sequence~=0.3.4
setuptools~=68.2.0